.env
.lastStarted
config.xml
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
jenkins.telemetry.Correlator.xml
nodeMonitors.xml
secret.key.not-so-secret
copy_reference_file.log
secret.key
identity.key.enc
node_modules/
groovy/
java/
jobs/
nodes/
plugins/
secrets/
updates/
userContent/
users/
war/